
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{DesignPancake.css}">
<title>Design you Pancake</title>
<head>
</head>
 
</head>
<body>
	<form method="POST" th:object="${design}" th:action="@{/design}">
	
		<div  id="topDiv" class="container">

 			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button class="btn btn-outline-secondary" type="submit">Button</button>
				</div>
				<input type="text" class="form-control" placeholder="" aria-label=""
					aria-describedby="basic-addon1" th:field="*{name}">
				</div>
		 <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </span>	
		 <br>
		 <span th:if="${#fields.hasErrors('ingredient')}" th:errors="*{ingredient}"> </span>
		 	 
		 	 
		</div>

		<div  id ="container"  class="container">

			<div class="card">
				<img th:src='@{/raspberry.png}' class="card-image-top" />
				<div class="card-body">
					<div th:each="i : ${fruits}" class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" th:field="*{ingredient}"
									th:value="${i.id}" />
							</div>
						</div>
						<label th:text="${i.name}" class="form-control"
							aria-label="Text input with checkbox">Ingredient </label>
					</div>
				</div>
			</div>


			<div class="card">
				<img th:src='@{/chocolate-bar.png}' class="card-image-top" />
				<div class="card-body">
					<div th:each="i : ${chocolate}" class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" th:field="*{ingredient}"
									th:value="${i.id}" />
							</div>
						</div>
						<label th:text="${i.name}" class="form-control"
							aria-label="Text input with checkbox">Ingredient </label>
					</div>
				</div>
			</div>


			<div class="card">
				<img th:src='@{/nature.png}' class="card-image-top" />
				<div class="card-body">
					<div th:each="i : ${flavor}" class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" th:field="*{ingredient}"
									th:value="${i.id}" />
							</div>
						</div>
						<label th:text="${i.name}" class="form-control"
							aria-label="Text input with checkbox">Ingredient </label>
					</div>
				</div>
			</div>

		</div>

	</form>
	<form method="Post" th:action="@{/logout}" class="dropdown">
		<a class="btn btn-secondary" href="#" role="button"
			id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"> <i class="fa fa-plus"></i>
		</a>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<button type="submit" class="dropdown-item">Logout</button>

		</div>
	</form>
</body>
</html>