
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{DesignPancake.css}">
<title>Design you Pancake</title>
 


</head>
<body>
	<form method="POST" th:object="${design}">
	
		<div  id="topDiv" class="container">

 			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button class="btn btn-outline-secondary" type="submit">Button</button>
				</div>
				<input type="text" class="form-control" placeholder="" aria-label=""
					aria-describedby="basic-addon1" th:field="*{name}">
				</div>
		 <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </span>	
		 <br>
		 <span th:if="${#fields.hasErrors('ingredient')}" th:errors="*{ingredient}"> </span>
		 	 
		 	 
		</div>

		<div  id ="container"  class="container">

			<div class="card">
				<img th:src='@{/raspberry.png}' class="card-image-top" />
				<div class="card-body">
					<div th:each="i : ${fruits}" class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" th:field="*{ingredient}"
									th:value="${i.id}" />
							</div>
						</div>
						<label th:text="${i.name}" class="form-control"
							aria-label="Text input with checkbox">Ingredient </label>
					</div>
				</div>
			</div>


			<div class="card">
				<img th:src='@{/chocolate-bar.png}' class="card-image-top" />
				<div class="card-body">
					<div th:each="i : ${chocolate}" class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" th:field="*{ingredient}"
									th:value="${i.id}" />
							</div>
						</div>
						<label th:text="${i.name}" class="form-control"
							aria-label="Text input with checkbox">Ingredient </label>
					</div>
				</div>
			</div>


			<div class="card">
				<img th:src='@{/nature.png}' class="card-image-top" />
				<div class="card-body">
					<div th:each="i : ${flavor}" class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" th:field="*{ingredient}"
									th:value="${i.id}" />
							</div>
						</div>
						<label th:text="${i.name}" class="form-control"
							aria-label="Text input with checkbox">Ingredient </label>
					</div>
				</div>
			</div>

		</div>


	</form>
</body>
</html>