<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{index.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<head>
<title>Taco Cloud</title>
</head>
<body>
	<h3>Welcome to <strong> <h2>Happy Pancake</h2></strong></h3>
	<img th:src='@{/index.png}' class="section" />
	<div class="section">
		<a class="waves-effect waves-light btn-large" href="/design">Commend Now ▶</a>
	</div>
</body>
</html>