<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/orderForm.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<head>
</head>
<body>
	<form class="row card" method="POST" th:object="${order}" th:action="@{/orders}">	 
 	
			<input id="textarea1" class="form-control" 
				placeholder="Name" th:field="*{name}" required></input>
				
			<input id="textarea1" class="form-control" 
				placeholder="Street adress" th:field="*{street}" required></input>
				
			<input id="textarea1" class="form-control" 
				placeholder="City" th:field="*{city}" required></input>
				
			<input id="textarea1" class="form-control" 
				placeholder="State" th:field="*{state}" required></input>
				
			<input id="textarea1" class="form-control" 
				placeholder="ZipCode" th:field="*{zipCode}" required></input>
				
			<input id="textarea1" class="form-control" 
				placeholder="Credit Card" th:field="*{creditCard}" required></input>
				
			<input id="textarea1" class="form-control" 
				placeholder="CVV" th:field="*{cvv}" required></input>
				
			<button class="btn btn-primary" type="submit"
				name="action">Submit</button>		
				 
	</form>
</body>
</html>