<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/orderForm.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<head>
</head>
<body>
	<form class="row card" method="POST" th:object="${order}" th:action="@{/orders}">	 
			<textarea id="textarea1" class="materialize-textarea"
				placeholder="Name" th:field="*{name}" required></textarea>
				
			<textarea id="textarea1" class="materialize-textarea"
				placeholder="Street adress" th:field="*{street}" required></textarea>
				
			<textarea id="textarea1" class="materialize-textarea "
				placeholder="City" th:field="*{city}" required></textarea>
				
			<textarea id="textarea1" class="materialize-textarea"
				placeholder="State" th:field="*{state}" required></textarea>
				
			<textarea id="textarea1" class="materialize-textarea "
				placeholder="ZipCode" th:field="*{zipCode}" required></textarea>
				
			<textarea id="textarea1" class="materialize-textarea"
				placeholder="Credit Card" th:field="*{creditCard}" required></textarea>
				
			<textarea id="textarea1" class="materialize-textarea"
				placeholder="CVV" th:field="*{cvv}" required></textarea>
				
			<button class="btn-large waves-effect waves-light" type="submit"
				name="action">Submit</button>		 
	</form>
</body>
</html>