body { /*#f37277 60%*/
	background: -webkit-linear-gradient(90.0deg, rgba(255.0, 255.0, 255.0, 1.0)
		0.0%, rgba(255.0, 255.0, 255.0, 1.0) 40.0%, #2b2b2b 40.0%, black
		100.0%);
	background-repeat: no-repeat;
 }
form { 
 	margin-top:4%;
 
 
}
.card {
	
	width: 18rem;
	
}


#container{
	display:flex; 
	justify-content:space-between;
 	
}

.card img {
	height:128px; 
	 
 	margin:auto;
 	margin-top:20px;
 	margin-bottom:20px;
	
}

 
#topDiv .input-group { 
	 height:100px;
	 padding-bottom:40px;
}

button.btn { 
	    color: #ffffff;
    background-color: #d12828;
        border-color: #d12828;
    
	
}